# ===== Python/Django =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
.env.*

# Virtualenv
.venv/
venv/
ENV/
env/

# Django
media/
staticfiles/

# ===== Node / React Native =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
build/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/
